<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
<title>Product Affinity Analysis</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/styles.css"/>
</head>
<body>
<h1> Welcome to Product Afinity Analysis</h1>


<div class="container">
        <div class="row">
            
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top" src="../images/data_matrix.jpg">
                    
                    <div class="card-block">
                        <h4 class="card-title">Affinity Matrix Tabular Report</h4>
                        <div class="card-text">
                        This is an Affinity based Tabular report to help you understand the Affinity of customers towards your Products. 
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info float-right btn-sm" onclick="document.location.href='http://localhost:8080/webapp/views/main.html'">Go</button>
                    </div>
                    
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top" src="../images/heat_map.jpg">
                    
                    <div class="card-block">
                        <h4 class="card-title">Affinity Heat Map</h4>
                        <div class="card-text">
                        This is an Affinity based Heat map which will help you understand the Afinity for each of your products in the market. 
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info float-right btn-sm" onclick="document.location.href='http://localhost:8080/webapp/views/data_report_view.html'">Go</button>
                    </div>
                    
                </div>
            </div>
            
        </div>
</div>



</body>
</html>